src/templates/index.pug
extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Components'
  - var menuTitle = 'Index'

//- Page Content
block content
  .container
    .row
      .col-10.mx-auto

        h1 Welcome to startup HTML template OptimizedHTML 6!

        p Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. Ad distinctio animi, dolorum eaque praesentium unde aliquid, mollitia itaque voluptate quos modi et incidunt tempora fugiat voluptatum quia esse dolor repellat.
        p Nemo velit incidunt assumenda, eaque, sequi vitae facilis doloribus qui totam, fuga iure dignissimos ab non praesentium. Vitae similique, corrupti aliquam nam modi explicabo distinctio qui cum officia ullam quam!
        p Aperiam veritatis debitis quibusdam animi totam quos mollitia aspernatur porro consectetur id quod tempore numquam, ullam ex quae quasi voluptatem incidunt placeat asperiores quas autem! Labore modi quae nulla illo!

    .row
      .col-5.offset-1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur delectus maiores, odio incidunt quis ex, recusandae eos eaque reiciendis consectetur in maxime adipisci. Rerum neque necessitatibus iusto recusandae magnam corporis.
      .col-5 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur delectus maiores, odio incidunt quis ex, recusandae eos eaque reiciendis consectetur in maxime adipisci. Rerum neque necessitatibus iusto recusandae magnam corporis.

dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Optimized-html Template 6
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <!-- Favicon and Apple Icons-->
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="css/vendor.min.css">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="css/styles.min.css">
  </head>
  <!-- Body-->
  <body>
    <!-- Site Header-->
    <header class="site__header"></header>
    <!-- Navbar-->
    <div class="site__navbar"></div>
    <!-- Off-Canvas Wrapper-->
    <div class="content-wrapper">
      <!-- Page Content-->
      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
            <h1>Welcome to startup HTML template OptimizedHTML 6!</h1>
            <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. Ad distinctio animi, dolorum eaque praesentium unde aliquid, mollitia itaque voluptate quos modi et incidunt tempora fugiat voluptatum quia esse dolor repellat.</p>
            <p>Nemo velit incidunt assumenda, eaque, sequi vitae facilis doloribus qui totam, fuga iure dignissimos ab non praesentium. Vitae similique, corrupti aliquam nam modi explicabo distinctio qui cum officia ullam quam!</p>
            <p>Aperiam veritatis debitis quibusdam animi totam quos mollitia aspernatur porro consectetur id quod tempore numquam, ullam ex quae quasi voluptatem incidunt placeat asperiores quas autem! Labore modi quae nulla illo!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 offset-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur delectus maiores, odio incidunt quis ex, recusandae eos eaque reiciendis consectetur in maxime adipisci. Rerum neque necessitatibus iusto recusandae magnam corporis.</div>
          <div class="col-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur delectus maiores, odio incidunt quis ex, recusandae eos eaque reiciendis consectetur in maxime adipisci. Rerum neque necessitatibus iusto recusandae magnam corporis.</div>
        </div>
      </div>
      <!-- Site Footer-->
      <footer class="site__footer"></footer>
    </div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="js/vendor.min.js"></script>
    <script src="js/scripts.min.js"></script>
  </body>
</html>
