dist/components/typography.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Typography
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <!-- Favicon and Apple Icons-->
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="../css/vendor.min.css">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="../css/styles.min.css">
  </head>
  <!-- Body-->
  <body>
    <!-- Off-Canvas Wrapper-->
    <div class="content-wrapper">
      <!-- Page Content-->
      <div class="container py-5">
        <div class="row mb-5">
          <div class="col-sm-6">
            <h4>Headings</h4>
            <h1 class="mb-4">H1. Heading</h1>
            <h2 class="mb-4">H2. Heading</h2>
            <h3 class="mb-4">H3. Heading</h3>
            <h4 class="mb-4">H4. Heading</h4>
            <h5 class="mb-4">H5. Heading</h5>
            <h6 class="mb-4">H6. Heading</h6>
          </div>
          <div class="col-sm-6">
            <H4>Body</H4>
            <p class="text-lead"><strong>Lead text. </strong>Sed ut perspiciatis unde omnis iste natus error sit.</p>
            <p class="text-xl"><strong>Extra large text. </strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
            <p class="text-lg"><strong>Large text. </strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
            <p class="text-md"><strong>Regular text. </strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <a href="#">totam rem aperiam,</a>eaque ipsa quae ab illo inventore.</p>
            <p class="text-sm"><strong>Small text. </strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
            <p class="text-xs"><strong>Extra small text. </strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
          </div>
        </div>
        <h4>Lists</h4>
        <div class="row mb-5">
          <div class="col-md-3 col-sm-6">
            <ul>
              <li>Lorem ipsum dolor sit amet elit</li>
              <li>Sed ut perspiciatis unde omnis</li>
              <li>At vero eos et accusamus et iusto</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <ol>
              <li>Lorem ipsum dolor sit amet elit</li>
              <li>Sed ut perspiciatis unde omnis</li>
              <li>At vero eos et accusamus et iusto</li>
            </ol>
          </div>
          <div class="col-md-3 col-sm-6">
            <ul class="list-unstyled mb-4 mb-sm-0">
              <li>Lorem ipsum dolor sit amet elit</li>
              <li>Sed ut perspiciatis unde omnis</li>
              <li>At vero eos et accusamus et iusto</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <ul class="list-unstyled mb-4 mb-sm-0">
              <li><i class="fe-icon-alert-circle mr-2"></i>Lorem ipsum dolor sit amet elit</li>
              <li><i class="fe-icon-award mr-2"></i>Sed ut perspiciatis unde omnis</li>
              <li><i class="fe-icon-box mr-2"></i>At vero eos et accusamus et iusto</li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-6">
            <h4>Contextual Colors</h4>
            <div class="mb-2"><span class="text-primary">Primary text. Lorem ipsum dolor sit amet, consectetur adipiscing.</span></div>
            <div class="mb-2"><span class="text-info">Infio text. Lorem ipsum dolor sit amet, consectetur adipiscing.</span></div>
            <div class="mb-2"><span class="text-success">Success text. Lorem ipsum dolor sit amet, consectetur adipiscing.</span></div>
            <div class="mb-2"><span class="text-warning">Warning text. Lorem ipsum dolor sit amet, consectetur adipiscing.</span></div>
            <div class="mb-2"><span class="text-danger">Danger text. Lorem ipsum dolor sit amet, consectetur adipiscing.</span></div>
            <div class="mb-2"><span class="text-gray">Gray text. Lorem ipsum dolor sit amet, consectetur adipiscing.</span></div>
            <div class="text-white mb-2"><span class="background-dark">Light text. Lorem ipsum dolor sit amet, consectetur adipiscing.</span></div>
          </div>
          <div class="col-sm-6">
            <h4>Contextual Backgrounds</h4>Sed ut <span class="bg-gray">perspiciatis unde omnis iste</span> natus <span class="bg-primary">error sit voluptatem</span> accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo <span class="bg-info">inventore veritatis et</span> quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="mb-5">Description Lists</h4>
            <dl>
              <dt>Ut enim ad minima veniam</dt>
              <dd class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</dd>
            </dl>
            <dl class="mt-4">
              <dt>Nemo enim ipsam voluptatem</dt>
              <dd class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</dd>
            </dl>
          </div>
          <div class="col-sm-6">
            <h4 class="mb-5">Description Lists With Icon</h4>
            <dl class="with-icon">
              <dt><i class="fe-icon-chrome"></i>Ut enim ad minima veniam</dt>
              <dd class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</dd>
            </dl>
            <dl class="with-icon mt-4">
              <dt><i class="fe-icon-box"></i>Nemo enim ipsam voluptatem</dt>
              <dd class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</dd>
            </dl>
          </div>
        </div>
        <h4>Blockquotes</h4>
        <div class="row">
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="icon-wrap">
                <svg viewbox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none">
                    <path class="fill-primary" d="M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z"></path>
                  </g>
                </svg>
              </div>
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</blockquote>
              <div class="author"><span class="decoration background-primary"></span>
                <div class="name text-bold">Don Jhonson</div>
                <div class="position text-gray text-sm">Graphic Designer</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial align-right">
              <div class="icon-wrap">
                <svg viewbox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none">
                    <path class="fill-primary" d="M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z"></path>
                  </g>
                </svg>
              </div>
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</blockquote>
              <div class="author"><span class="decoration background-primary"></span>
                <div class="name text-bold">Don Jhonson</div>
                <div class="position text-gray text-sm">Graphic Designer</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 offset-sm-3 mt-5">
            <div class="testimonial align-center">
              <div class="icon-wrap">
                <svg viewbox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none">
                    <path class="fill-primary" d="M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z"></path>
                  </g>
                </svg>
              </div>
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</blockquote>
              <div class="author"><span class="decoration background-primary"></span>
                <div class="name text-bold">Don Jhonson</div>
                <div class="position text-gray text-sm">Graphic Designer</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="../js/vendor.min.js"></script>
    <script src="../js/scripts.min.js"></script>
  </body>
</html>

src/templates/components/typography.pug
extends ../partials/layout

//- Override default config variables
append config
  - var isHeader = false
  - var isFooter = false
  - var pageTitle = 'Typography'
  - var isNestedFile = true
  - var parentMenu = 'Components'

//- Page Content
block content
  .container.py-5
    .row.mb-5
      .col-sm-6
        h4 Headings
        h1.mb-4 H1. Heading
        h2.mb-4 H2. Heading
        h3.mb-4 H3. Heading
        h4.mb-4 H4. Heading
        h5.mb-4 H5. Heading
        h6.mb-4 H6. Heading
      .col-sm-6
        H4 Body
        p.text-lead
          strong
            | Lead text. 
          | Sed ut perspiciatis unde omnis iste natus error sit.
        p.text-xl
          strong
            | Extra large text. 
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
        p.text-lg
          strong
            | Large text. 
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
        p.text-md
          strong
            | Regular text. 
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
          a(href="#")
            | totam rem aperiam,
          | eaque ipsa quae ab illo inventore.
        p.text-sm
          strong
            | Small text. 
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        p.text-xs
          strong
            | Extra small text. 
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.

    h4 Lists
    .row.mb-5
      .col-md-3.col-sm-6
        ul
          li Lorem ipsum dolor sit amet elit
          li Sed ut perspiciatis unde omnis
          li At vero eos et accusamus et iusto
      .col-md-3.col-sm-6
        ol
          li Lorem ipsum dolor sit amet elit
          li Sed ut perspiciatis unde omnis
          li At vero eos et accusamus et iusto
      .col-md-3.col-sm-6
        ul.list-unstyled.mb-4.mb-sm-0
          li Lorem ipsum dolor sit amet elit
          li Sed ut perspiciatis unde omnis
          li At vero eos et accusamus et iusto
      .col-md-3.col-sm-6
        ul.list-unstyled.mb-4.mb-sm-0
          li
            i.fe-icon-alert-circle.mr-2
            | Lorem ipsum dolor sit amet elit
          li
            i.fe-icon-award.mr-2
            | Sed ut perspiciatis unde omnis
          li
            i.fe-icon-box.mr-2
            | At vero eos et accusamus et iusto

    .row.mb-5
      .col-sm-6
        h4 Contextual Colors
        div.mb-2
          span.text-primary
            | Primary text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-info
            | Infio text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-success
            | Success text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-warning
            | Warning text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-danger
            | Danger text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-gray
            | Gray text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.text-white.mb-2
          span.background-dark
            | Light text. Lorem ipsum dolor sit amet, consectetur adipiscing.

      .col-sm-6
        h4 Contextual Backgrounds
        | Sed ut 
        span.bg-gray
          | perspiciatis unde omnis iste
        |  natus 
        span.bg-primary
          | error sit voluptatem
        |  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
        span.bg-info
          | inventore veritatis et
        |  quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

    .row
      .col-sm-6
        h4.mb-5 Description Lists
        dl
          dt Ut enim ad minima veniam
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
        
        dl.mt-4
          dt Nemo enim ipsam voluptatem
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
      
      .col-sm-6
        h4.mb-5 Description Lists With Icon
        dl.with-icon
          dt
            i.fe-icon-chrome
            | Ut enim ad minima veniam
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
        
        dl.with-icon.mt-4
          dt
            i.fe-icon-box
            | Nemo enim ipsam voluptatem
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
    
    h4 Blockquotes
    .row
      .col-sm-6
        .testimonial
          .icon-wrap
            svg(viewbox='0 0 14 10', xmlns='http://www.w3.org/2000/svg')
              g(fill='none')
                path(d='M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z', class="fill-primary")

          blockquote
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
          
          .author
            span.decoration.background-primary
            .name.text-bold
              | Don Jhonson
            .position.text-gray.text-sm
              | Graphic Designer
      
      .col-sm-6
        .testimonial.align-right
          .icon-wrap
            svg(viewbox='0 0 14 10', xmlns='http://www.w3.org/2000/svg')
              g(fill='none')
                path(d='M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z', class="fill-primary")

          blockquote
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
          
          .author
            span.decoration.background-primary
            .name.text-bold
              | Don Jhonson
            .position.text-gray.text-sm
              | Graphic Designer
      
      .col-sm-6.offset-sm-3.mt-5
        .testimonial.align-center
          .icon-wrap
            svg(viewbox='0 0 14 10', xmlns='http://www.w3.org/2000/svg')
              g(fill='none')
                path(d='M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z', class="fill-primary")

          blockquote
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
          
          .author
            span.decoration.background-primary
            .name.text-bold
              | Don Jhonson
            .position.text-gray.text-sm
              | Graphic Designer
